.boards {
  display: flex;
  margin: 25px 0;
}

.board {
  background: #ffffff;
  height: 100%;
  min-width: 350px;
  max-width: 350px;
  margin-left: 25px;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--shadow-color);
}

.board-top {
  background: var(--main-color);
  width: 100%;
  max-height: 94px;
  min-height: 52px;
  padding: 5px 10px;
  font-family: "RobotoThin";
  color: #ffffff;
  cursor: pointer;
  font-size: 28px;
  font-weight: 500;
  border-radius: 5px 5px 0 0;
}

.board-input {
  position: absolute;
  background: transparent;
  color: #ffffff;
  margin: 0;
  font-family: "RobotoThin";
  font-size: 28px;
  font-weight: 500;
  padding: 5px 10px;
}

.create-board-btn {
  display: flex;
  max-width: 350px;
  height: 100%;
  margin-left: 25px;
  padding: 5px 10px;
  color: #ffffff;
  font-family: "RobotoThin";
  font-size: 28px;
  font-weight: 500;
}

.create-board-btn:hover {
  opacity: 0.8;
}

.accept-board-btn{
  position: relative;
  height: 38px;
  background-color: rgb(111, 192, 88);
  color: #ffffff;
  box-shadow: 0 0 3px var(--shadow-color);
  border-radius: 0 0 5px 5px;
}

.accept-board-btn:hover {
  background-color: rgb(111, 179, 92);
}

.delete-board-btn{
  position: relative;
  height: 38px;
  background-color: rgb(255, 113, 113);
  color: #ffffff;
  box-shadow: 0 0 3px var(--shadow-color);
  border-radius: 0 0 5px 5px;
}

.delete-board-btn:hover{
  background-color: rgb(255, 92, 92);
}