.task {
  display: flex;
  position: relative;
  padding: 8px 10px;
  cursor: pointer;
  user-select: none;
}

.task *{
  pointer-events: none;
}

.task:hover {
  background-color: var(--extra-light-color);
}

.task-done {
  background-color: var(--extra-light-color);
}

.task-description {
  width: 85%;
}

.create-task {
  display: flex;
  background-color: var(--main-color);
  padding: 3px;
  font-size: 14px;
  border-radius: 0 0 5px 5px;
}

.create-task * {
  border-radius: 0 0 5px 5px;
}

.create-task input {
  width: 100%;
  height: 31px;
  border: none;
  padding: 5px;
  font-weight: 500;
  color: var(--main-color);
  outline: 0 !important;
}
.create-task input:focus {
  box-shadow: 0 0 3px inset var(--extra-dark-color);
}

.create-task button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  margin-left: 3px;
}

.create-task button:hover {
  box-shadow: 3px 3px 3px inset var(--extra-dark-color);
}

.create-task button:active {
  box-shadow: 5px 5px 5px inset var(--extra-dark-color);
}

.edit-task-input {
  min-height: 64px;
  position: relative;
  padding: 8px 10px;
  border-radius: 3px;
}

.task-btns-container {
  display: flex;
  justify-content: space-around;
  width: 70px;
  height: 30px;
}

.task-btn {
  display: none;
  position: absolute;
  pointer-events: auto;
  background-color: transparent;
  width: 30px;
  height: 30px;
  right: 15px;
  top: 5px;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
  outline: 0;
  opacity: 0.5;
}

.task:hover .task-btn {
  display: block;
}

.task-btn:hover {
  box-shadow: 7px 7px 7px inset var(--main-color);
}

.task-btn:active {
  box-shadow: 10px 10px 10px inset var(--main-color);
}

.task-btn-image {
  width: 20px;
  height: 20px;
}

.edit-btns {
  display: block;
  position: absolute;
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  box-shadow: 3px 3px 3px var(--shadow-color);
}

.edit-btns:hover {
  box-shadow: 5px 5px 5px var(--shadow-color);
}

.accept-task-btn {
  background-color: rgb(90, 172, 68);
  position: relative;
}
.accept-task-btn:hover {
  background-color: rgb(79, 145, 60);
}

.delete-btn {
  background-color: rgb(211, 69, 69);
}
.delete-btn:hover {
  background-color: rgb(185, 62, 62);
}

.check-btn {
  background-color: rgb(27, 114, 255);
}
.check-btn:hover {
  background-color: rgb(23, 97, 214);
}