body {
  margin: 0;
  font-family: "RobotoRegular", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0000001c;
}

@font-face {
  font-family: "RobotoThin";
  src: url("./fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  transition: 0.3s all;
}

:root {
  --text: #001f855b;
}

.boards {
  display: flex;
  flex-direction: row;
}

.board {
  background: #ffffff;
  height: 100%;
  margin: 25px 0 0 25px;
  width: 300px;
  border-radius: 7px;
  box-shadow: 10px 10px 10px #0000001e;
  overflow: hidden;  
}

.top {
  font-family: "RobotoThin";
  background: var(--text);
  color: #ffffff;
  padding: 10px;
  font-size: 28px;
  margin: 0;
  font-weight: 500;
  border-radius: 5px 5px 0 0;
}

.task-input {
  background-color: var(--text);
  display: flex;
  padding: 5px;
}

.task-input * {
  border-radius: 5px;
}

.task-input input {
  width: 100%;
  border: none;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  color: var(--text);
}

.task-input button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  margin-left: 10px;
}

.task-input button:hover {
  background-color: #ffffff1e;
  opacity: 0.7;
}

.task {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}

.task:hover {
  background-color: #727dad3b;
}

.task p {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  color: var(--text);
}

.task-done {
  background-color: #00000027;
}
.task-done p {
  color: #00000050;
}

.action-btn {
  cursor: pointer;
  margin-left: 10px;
}
.action-btn:hover {
  background-color: #000cb33d;
  border-radius: 5px;
}
