body {
  margin: 0;
  font-family: "RobotoRegular", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0000001b;
}

button {
  border: 0;
  outline: none;
}
button:active,
button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}

textarea{
  border: 0 !important;
  resize: none;
  overflow: visible;
}
textarea:focus {
  outline: 0 !important;
}

* {
  transition: 0.3s;
}

@font-face {
  font-family: "RobotoThin";
  src: url("./fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --text: #396ab9a4;
}

.boards {
  display: flex;
  flex-direction: row;
  margin: 25px 0;
}

.board {
  margin-left: 25px;
  background: #ffffff;
  height: 100%;
  min-width: 350px;
  max-width: 350px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #0000001e;
  overflow: hidden;
}

.create-board-btn {
  margin-left: 25px;
  max-width: 350px;
  height: 100%;
  display: flex;
  color: #ffffff;
  font-size: 28px;
  font-family: "RobotoThin";
  font-weight: 500;
  padding: 5px 10px;
}

.create-board-btn:hover {
  opacity: 0.8;
}

.top {
  cursor: pointer;
  width: 100%;
  min-height: 52px;
  font-family: "RobotoThin";
  background: var(--text);
  color: #ffffff;
  padding: 5px 10px;
  font-size: 28px;
  font-weight: 500;
  border-radius: 5px 5px 0 0;
}

.task-input {
  background-color: var(--text);
  display: flex;
  justify-content: space-between;
  padding: 3px;
}

.task-input * {
  border-radius: 5px;
}

.task-input input {
  width: 100%;
  height: 31px;
  border: none;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  color: var(--text);
  outline: 0 !important;
}
.task-input input:focus {
  box-shadow: 0 0 5px inset #001f8560;
}

.task-input button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #ffffff;
  margin-left: 10px;
}

.task-input button:active,
.task-input button:focus {
  outline: none !important;
}

.task-input button::-moz-focus-inner {
  border: 0 !important;
}

.task-input button:hover {
  box-shadow: 3px 3px 3px inset var(--text);
}
.task-input button:active {
  box-shadow: 7px 7px 7px inset var(--text);
}

.update-task-input {
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 8px 10px;
  border-radius: 3px;
}

.board-input {
  color: #ffffff;
  overflow: hidden;
  background: transparent;
  position: absolute;
  margin: 0;
  font-family: "RobotoThin";
  font-size: 28px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
}

.task {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 8px 10px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  word-wrap: break-word;
}

.task:hover {
  background-color: rgba(44, 81, 139, 0.253);
}

.task p {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  color: var(--text);
}

.task-done {
  background-color: rgba(44, 81, 139, 0.253);
}

.task-done-line {
  text-decoration-line: line-through;
}

.task-done p {
  color: #00000050;
}

.task-description {
  width: 85%;
}

.task-btns-container {
  display: flex;
  justify-content: space-around;
  width: 70px;
  height: 30px;
}

.task-btn {
  position: absolute;
  right: 15px;
  top: 5px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
  outline: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  opacity: 0.5;
}

.task:hover .task-btn {
  display: flex;
}

.task-btn:hover {
  box-shadow: 7px 7px 7px inset var(--text);
  border-radius: 5px;
}

.task-btn:active {
  box-shadow: 10px 10px 10px inset var(--text);
}

.task-btn-image {
  width: 20px;
  height: 20px;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000a8;
}

.update-btns {
  display: block;
  position: relative;
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #00000044;
}

.update-btns:hover {
  box-shadow: 5px 5px 5px #00000044;
}

.update-btn {
  background-color: rgb(90, 172, 68);
}
.update-btn:hover {
  background-color: rgb(79, 145, 60);
}

.delete-btn {
  background-color: rgb(211, 69, 69);
}
.delete-btn:hover {
  background-color: rgb(185, 62, 62);
}

.check-btn {
  background-color: rgb(27, 114, 255);
}
.check-btn:hover {
  background-color: rgb(23, 97, 214);
}

.accept-board-btn{
  height: 38px;
  position: relative;
  color: #ffffff;
  box-shadow: 3px 3px 7px #00000025;
  border-radius: 0 0 5px 5px;
  background-color: rgb(111, 192, 88);
}

.accept-board-btn:hover {
  background-color: rgb(111, 179, 92);
  box-shadow: 5px 5px 10px #00000025;
}

.delete-board-btn{
  height: 38px;
  position: relative;
  color: #ffffff;
  background-color: rgb(255, 113, 113);
  box-shadow: 3px 3px 7px #00000025;
  border-radius: 0 0 5px 5px;
}

.delete-board-btn:hover{
  background-color: rgb(255, 92, 92);
}